.dashboard {
  .scan-container {
    place-content: center;
    width: 50%;
    border-radius: 10px;
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .scan-icon {
      font-size: 7.5rem;
    }
  }

  button {
    width: 75px;
    padding: 5px 0;
    margin-right: 5px;
  }

  .result-container,
  .recent-container {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}
