@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: rgb(255, 255, 255);
  --font: 'Jost', sans-serif;
}

* {
  font-family: var(--font);
}

body {
  min-height: 100vh;
}

@keyframes scan-line {
  0% {
    top: -100%;
  }
  100% {
    top: 100%;
  }
}

.animate-scan-line {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  opacity: 0.7;
  animation: scan-line 5s linear infinite;
}
